 /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
	height: 100%;
	display:grid;
}

.zipCodeWrapper {
	display:grid;
	grid-template-rows: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.firstCol {
	grid-column: span 1 ;
}

.secondCol {
	grid-column: span 1;
}

.thirdCol {
	grid-column: span 1;
}
h1 {
  color: red;
}

.navbar {
    height:30px;
}